/* login.css */

body {
    background-color: #f9fafb;
}

.input-style {
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
    width: 100%;
}

.input-style:focus {
    border-color: #2E7D32;
    box-shadow: 0 0 0 0.2rem rgba(0, 130, 86, 0.25);
    outline: none;
}

.btn-green {
    background-color: #2E7D32;
    color: white;
}

.btn-green:hover {
    background-color: #999;
}

.text-green {
    color: #008256;
}

.text-green:hover {
    color: #999;
}

.form-check-input:checked {
    background-color: #2E7D32;
    /* Hijau */
    border-color: #2E7D32;
}

/* Border merah kalau input error */
.is-invalid {
    border-color: #d32f2f;
    box-shadow: 0 0 0 0.2rem rgba(211, 47, 47, 0.25);
}
.invalid-feedback {
    color: #dc3545; /* merah Bootstrap */
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 4px;
}
